
/dist
/node_modules
/*.log

.env
.env.*.local

/prisma/migrations
/generated

# Docker
/mysql-data
mysql-data

.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db

coverage
*.tmp
*.swp
*.swo


yarn.lock
package-lock.json
pnpm-lock.yaml