# Скомпилированные файлы
/dist
/node_modules
/*.log

# Персональные и чувствительные данные
.env
.env.*.local

# Prisma
/prisma/migrations
/generated

# Docker
/mysql-data
mysql-data

# IDE и редакторы
.vscode/
.idea/
*.iml

# ОС
.DS_Store
Thumbs.db

# Тестовые и временные файлы
coverage
*.tmp
*.swp
*.swo

# Lock-файлы (если используешь только один менеджер пакетов)
yarn.lock
package-lock.json
pnpm-lock.yaml